APP_NAME=Chuntaro
APP_ENV=local
APP_DEBUG=true

# Local XAMPP example: /chuntaro
# Production (domain root): leave empty
BASE_PATH=/chuntaro
APP_URL=http://localhost/chuntaro

DB_HOST=localhost
DB_NAME=chuntaro
DB_USER=root
DB_PASS=

EA_CLUB_ID=2043111
EA_PLATFORM=common-gen5
EA_CACHE_TTL=300
